runners:
  local_runner:
    load: galaxy.jobs.runners.local:LocalJobRunner
    workers: 4

  slurm:
    load: galaxy.jobs.runners.slurm:SlurmJobRunner

  pulsar_runner:
    load: galaxy.jobs.runners.pulsar:PulsarMQJobRunner
    amqp_url: "pyamqp://pulsar_au:wIGgev5iSjoyDW8kaBqFd0ZM@212.189.205.216:5671/pulsar/pulsar_au?ssl=1"
    #amqp_url: "pyamqp://pulsar_au:{{ vault_rabbitmq_password_vhost }}@localhost:5671/{{ rabbitmq_vhosts[0] }}?ssl=1"
    amqp_acknowledge: true
    amqp_ack_republish_time: 1200
    amqp_consumer_timeout: 2
    amqp_publish_retry: true
    amqp_publish_retry_max_retries: 60
    galaxy_url: "https://{{ inventory_hostname }}"
    manager: _default_

handling:
  assign: ['db-skip-locked']

execution:
  default: tpv_dispatcher
  environments:
    local_env:
      runner: local_runner
      tmp_dir: true
#
#    slurm:
#      runner: slurm
#      singularity_enabled: true
#      env:
#      - name: LC_ALL
#        value: C
#      - name: APPTAINER_CACHEDIR
#        value: /tmp/singularity
#      - name: APPTAINER_TMPDIR 
#        value: /tmp
#
    tpv_dispatcher:
      runner: dynamic
      type: python
      function: map_tool_to_destination
      rules_module: tpv.rules
      tpv_config_files:
        - https://gxy.io/tpv/db.yml # to import ideal resource allocations for specific tools
        #- "{{ tpv_config_dir }}/tpv_rules_local.yml"
        - /srv/galaxy/var/total_perspective_vortex_src/tpv_rules_local.yml

#    singularity:
#      runner: local_runner
#      singularity_enabled: true
#      env:
#      # Ensuring a consistent collation environment is good for reproducibility.
#      - name: LC_ALL
#        value: C
#      # The cache directory holds the docker containers that get converted
#      - name: APPTAINER_CACHEDIR
#        value: /tmp/singularity
#      # Apptainer uses a temporary directory to build the squashfs filesystem
#      - name: APPTAINER_TMPDIR
#        value: /tmp

  resources:
    default: default
    groups:
      default: []
      testing: [cores, time]

tools:
  - class: local
    environment: local_env
  - id: testing
    environment: tpv_dispatcher
    resources: testing
