runners:
  local_runner:
    load: galaxy.jobs.runners.local:LocalJobRunner
    workers: 4

handling:
  assign: ['db-skip-locked']

execution:
  default: singularity
  environments:
    local_env:
      runner: local_runner
      tmp_dir: true
    singularity:
      runner: local_runner
      singularity_enabled: true
      env:
      # Ensuring a consistent collation environment is good for reproducibility.
      - name: LC_ALL
        value: C
      # The cache directory holds the docker containers that get converted
      - name: APPTAINER_CACHEDIR
        value: /tmp/singularity
      # Apptainer uses a temporary directory to build the squashfs filesystem
      - name: APPTAINER_TMPDIR
        value: /tmp

tools:
  - class: local
    environment: local_env
